body.page .disclaimer .paragraph {
  width: 100% !important;
}
body.page .disclaimer table {
  width: 100% !important;
}
body.page .disclaimer table tbody tr td {
  text-align: left !important;
}
body.page .disclaimer table tbody tr:not(:first-child) {
  border-top: 1px solid #b3b3b3 !important;
}
body.page .disclaimer table ul li {
  list-style-type: disc;
}


body.page main.disclaimer .table-theme {
  border: 2px solid #93c782 !important;
}
body.page main.disclaimer .table-theme tr th {
  background: #93c782;
}

@media (min-width: 640px) {
  body.page main.disclaimer .table-theme tr td:nth-child(1) {
    border-right: 2px solid #93c782;
  }
}

@media (max-width: 639px) {
  body.page main.diagnose .table-theme tr td {
    border-top: 2px solid #93c782;
  }
}