body.index main .introbox {
  background: #fff;
}
body.index main .introbox .introbox_bg {
  background: #f3f3f3;
  padding: 55px 45px;
  border-radius: 7px;
}
body.index main .introbox .list-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body.index main .introbox .list-group .list-group-item {
  margin: 0 25px 30px;
  padding: 25px 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  position: relative;
}
body.index main .introbox .list-group .list-group-item:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 100%;
  left: 50%;
  margin-left: -12.5px;
  z-index: 1;
}
body.index main .introbox .list-group [class^="col"]:nth-child(odd) .list-group-item {
  background: #1cb8f1;
}
body.index main .introbox .list-group [class^="col"]:nth-child(even) .list-group-item {
  background: #93c782;
}
body.index main .introbox .list-group [class^="col"]:nth-child(1) .list-group-item:before {
  border-width: 0 35px 30px 0;
  border-color: transparent #1cb8f1 transparent transparent;
}
body.index main .introbox .list-group [class^="col"]:nth-child(2) .list-group-item:before {
  border-width: 0 35px 30px 0;
  border-color: transparent #93c782 transparent transparent;
}
body.index main .introbox .list-group [class^="col"]:nth-child(3) .list-group-item:before {
  border-width: 35px 30px 0 0;
  border-color: #1cb8f1 transparent transparent transparent;
}
body.index main .introbox .list-group [class^="col"]:nth-child(4) .list-group-item:before {
  border-width: 35px 30px 0 0;
  border-color: #93c782 transparent transparent transparent;
}
body.index main .introbox .introbox_in {
  background: #fff;
  text-align: center;
  max-width: 600px;
  margin: 35px auto 0;
  padding: 35px 25px;
  border-radius: 4px;
  line-height: 1.8;
  font-size: 18px;
}
body.index main .introbox .btn-link {
  color: #d45e5e;
  text-decoration: underline !important;
}
body.index main .introbox .introbox_content {
  display: flex; 
  padding: 55px 25px;
}
body.index main .introbox .introbox_content .row {
  width: calc(100% + 26px);
}
body.index main .introbox .introbox_content .list-group-item {
  background: none;
  border: none;
  text-align: center;
}
body.index main .introbox .introbox_content .list-group-item .text {
  font-size: 22px;
  font-weight: 600;
  position: relative;
  display: inline-flex;
  padding: 0 15px;
  margin-bottom: 15px;
}
body.index main .introbox .introbox_content .list-group-item .text:before,
body.index main .introbox .introbox_content .list-group-item .text:after {
  content: '';
  width: 1px;
  height: 65px;
  background: #000;
  position: absolute;
  bottom: -20px;
}
body.index main .introbox .introbox_content .list-group-item .text:before {
  left: -15px;
  transform: rotate(-30deg);
}
body.index main .introbox .introbox_content .list-group-item .text:after {
  right: -15px;
  transform: rotate(30deg);
}
body.index main .introbox .introbox_content .list-group-item .shapebox {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  padding: 25px 15px;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
}
body.index main .introbox .introbox_content .list-group-item .shapebox:before {
  content: '';
  height: 130px;
  width: 100%;
  border-radius: 1rem;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
body.index main .introbox .introbox_content .list-group-item .shapebox:after {
  content: '';
  height: 70px;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 25px 25px;
  position: absolute;
  top: 130px;
  left: 0;
}
body.index main .introbox .introbox_content .list-group-item .shapebox.bg-blue:before,
body.index main .introbox .introbox_content .list-group-item .shapebox.bg-blue:after {
  background: #60CCF2;
}
body.index main .introbox .introbox_content .list-group-item .shapebox.bg-green:before,
body.index main .introbox .introbox_content .list-group-item .shapebox.bg-green:after  {
  background: #A5D5A3;
}
body.index main .introbox .introbox_content .list-group-item .shapebox img {
  width: 70px;
  margin-bottom: 15px;
}
body.index main .introbox .introbox_content .list-group-item .shapebox .d-flex {
  position: relative;
  z-index: 1;
}
body.index main .introbox .introbox_content .list-group-icon {
  width: 50px;
  height: auto !important;
  margin-top: 50px;
}
body.index main .introbox .introbox_content .list-group-left {
  width: 30px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}
body.index main .introbox .introbox_content .list-group-right {
  width: calc(100% - 30px);
  padding-left: 25px;
}
body.index main .introbox .introbox_content .list-group-right p {
  font-size: 18px;
  margin-bottom: 10px;
}
body.index main .introbox .introbox_content .bg-gray {
  padding: 15px;
  border-radius: 7px;
  background: #ececec;
  font-size: 18px;
}
body.index main .introbox .introbox_content .bg-gray ul {
  margin: 0;
  padding: 0;
}
body.index main .introbox .introbox_content .bg-gray ul li {
  position: relative;
  padding-left: 28px;
}
body.index main .introbox .introbox_content .bg-gray ul li:not(:last-child) {
  margin-bottom: 5px;
}
body.index main .introbox .introbox_content .bg-gray ul li:before {
  content: '';
  width: 18px;
  height: 18px;
  background: url(../images/icon-tick.png) center center no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 0;
}

@media (min-width: 1200px) {
  body.index main .formaltestbox .contact_box .item_btn .iconbox img {
    width: 170px !important;
    max-width: 80%;
  }
}

@media (max-width: 1199.98px) {
  body.index main .introbox .introbox_content .list-group-item {
    padding: 0;
  }
  body.index main .introbox .introbox_content .list-group-icon {
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  body.index main .introbox .introbox_content .list-group-right {
    width: calc(100% - 40px);
    padding-left: 15px;
  }
  body.index main .introbox .introbox_content .list-group-item .shapebox {
    width: 230px;
  }
  body.index main .formaltestbox .contact_box .item_btn .iconbox img {
    width: 130px !important;
    max-width: 80%;
  }
}
@media (max-width: 991.98px) {
  body.index main .introbox .introbox_bg {
    padding: 55px 25px;
  }
  body.index main .introbox .list-group .list-group-item {
    margin: 0 15px 25px;
    padding: 15px;
    border-radius: 25px;
  }
  body.index main .introbox .list-group .list-group-item:before {
    display: none;
  }
  body.index main .introbox .introbox_in {
    margin-top: 0;
  }
  body.index main .introbox .list-group [class^="col"]:nth-child(1) .list-group-item:before,
  body.index main .introbox .list-group [class^="col"]:nth-child(3) .list-group-item:before {
    border-width: 25px 25px 0 0;
    border-color: #32bdde transparent transparent transparent;
  }
  body.index main .introbox .list-group [class^="col"]:nth-child(2) .list-group-item:before,
  body.index main .introbox .list-group [class^="col"]:nth-child(4) .list-group-item:before {
    border-width: 25px 25px 0 0;
    border-color: #8bbc9f transparent transparent transparent;
  }
}
@media (max-width: 767.98px) {
  body.index main .introbox .introbox_bg {
    padding: 65px 25px  55px;
  }
  body.index main .introbox .list-group .list-group-item {
    margin: 0 0 25px;
  }
  body.index main .introbox .introbox_content .list-group-icon {
    margin: 25px 0;
  }
}


body.index main .evaluatebox,
body.index main .formaltestbox {
  width: 100%;
  margin: 0;
  padding: 25px;
}
body.index main .evaluatebox .contact_box .item_btn,
body.index main .formaltestbox .contact_box .item_btn {
  display: flex;
  background-color: #fff;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(1) .iconbox {
  background: #f7b364;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(2) .iconbox {
  background: #93c782;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(3) .iconbox {
  background: #1cb8f1;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(1) .infobox a {
  background: #f7b364;
  border: 2px solid #f7b364;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(2) .infobox a {
  background: #93c782;
  border: 2px solid #93c782;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(3) .infobox a {
  background: #1cb8f1;
  border: 2px solid #1cb8f1;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(1) .infobox a:hover {
  color: #f7b364;
  background: #fff;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(2) .infobox a:hover {
  color: #8bbc9f;
  background: #fff;
}
body.index main .formaltestbox .contact_box .item_btn:nth-child(3) .infobox a:hover {
  color: #32bdde;
  background: #fff;
}

@media (min-width: 992px) {
  body.index main .evaluatebox .contact_box .item_btn .iconbox,
  body.index main .evaluatebox .contact_box .item_btn .infobox {
    width: 100%;
  }
  body.index main .formaltestbox {
    width: 100%;
    margin: 0;
    padding: 25px;
  }
  body.index main .evaluatebox .contact_box,
  body.index main .formaltestbox .contact_box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-evenly;
  }
  body.index main .evaluatebox .contact_box .item_btn {
    width: calc(33.3333% - 30px) !important;
    flex-direction: column;
    margin: 0 15px !important;
  }
  body.index main .formaltestbox .contact_box .item_btn {
    width: calc(28% - 30px) !important;
    flex-direction: column;
    margin: 0 15px !important;
  }
  body.index main .formaltestbox .contact_box .item_btn:nth-child(1) {
    width: calc(50% - 30px);
  }
  body.index main .formaltestbox .contact_box .item_btn:nth-child(2) {
    width: calc(50% - 30px);
  }
  body.index main .formaltestbox .contact_box .item_btn .iconbox {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  body.index main .formaltestbox .contact_box .item_btn {
    width: calc(25% - 30px) !important;
    flex-direction: column;
    margin: 0 15px !important;
  }
}
@media (max-width: 991px) {
  body.index main .evaluatebox .contact_box .item_btn,
  body.index main .formaltestbox .contact_box .item_btn {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
  body.index main .evaluatebox .contact_box .item_btn:not(:first-child),
  body.index main .formaltestbox .contact_box .item_btn:not(:first-child) {
    margin-top: 35px;
  }
  body.index main .formaltestbox .contact_box .item_btn .iconbox {
    width: 40%;
  }
  body.index main .formaltestbox .contact_box .item_btn .infobox {
    width: 60%;
    flex-direction: column;
    justify-content: center;
  }
  body.index main .contact_box .item_btn .infobox a {
    margin-left: auto;
    margin-right: auto;
  }
}