body.page main.listening_test .contact_box .btn.btn_red a {
	background-color: #db5e5e;
  border: 2px solid #db5e5e;
}

body.page main.listening_test .contact_box .sample_question_listen {
	margin-top: 48px;
}

body.page main.listening_test .contact_box .sample_question_options {
	margin: 32px 0;
}

body.page main.listening_test .framebox_in.outer_container {
	padding: 30px;
}

body.page main.listening_test .inner_container {
	padding: 30px 15px;
  border: 2px solid #f7b364;
}