.tag {
  border: 1px solid #B3B3B3;
  display: inline-flex;
  padding: 0 10px;
  line-height: 28px;
  height: 28px;
  margin: 10px 0 2px;
}

.tag-blue {
  color: #6480C2;
}

.tag-red {
  color: #E37F81;
}

.tag-green {
  color: #94B78D;
}

body.page main.test_report .titlebox .subtitle {
  color: #f8ead9;
}

body.page main.test_report .contact_box .framebox {
  background: #f8ead9;
}

body.page main.test_report .contact_box .framebox_in {
  border: 8px solid #f7b364;
}

body.page main.test_report .framebox_in.outer_container {
	padding: 30px;
  position: relative;
}
body.page main.test_report .framebox_in.outer_container .btn-group {
  width: 100%;
  margin-bottom: -90px;
  justify-content: center;
}
body.page main.test_report .framebox_in.outer_container .btn-group a {
  font-size: 1.2em;
  color: #ffffff;
  border: 2px solid #f7b364;
  height: 50px;
  line-height: 48px;
  background: #f7b364;
  padding-left: 15px;
  padding-right: 35px;
  border-radius: 25px;
  width: 100%;
  max-width: 250px;
  text-align: center;
}

body.page main.test_report .framebox_in.outer_container .btn-group a:hover {
  background-color: #db5e5e;
  border: 2px solid #db5e5e;
}

body.page main.test_report .framebox_in.outer_container .btn-group a .lnr {
  float: left;
  line-height: 50px;
}

@media (max-width: 639px) {
	body.page main.test_report .framebox_in.outer_container .btn-group {
		margin-bottom: -60px;
	}
}

body.page main.test_report .inner_container {
	padding: 30px 15px;
  border: 2px solid #f7b364;
}

body.page main.test_report .correctness_container {
  display: flex;
  justify-content: center;
}

body.page main.test_report .correctness_container .correctness {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

body.page main.test_report .correctness_container .test_circle {
  width: 52px;
  height: 52px;
  line-height: 52px;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-left: -15px;
}

body.page main.test_report .correctness_container .test_circle.bg-green {
  color: #fff;
  background: #83b871;
}

body.page main.test_report .correctness_container .test_circle.bg-blue {
  color: #fff;
  background: #18a5d9;
}

body.page main.test_report .question_number_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

body.page main.test_report .part_col {
  align-self: flex-end;
}

body.page main.test_report .part_col > div {
  position: relative;
  padding-left: 18px;
}

body.page main.test_report .part_col > div:before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
}

body.page main.test_report .part_col > div:nth-child(1):before {
  background-color: #f4ece6;
}

body.page main.test_report .part_col > div:nth-child(2):before {
  background-color: #e7e9f2;
}

body.page main.test_report .part_col > div:nth-child(3):before {
  background-color: #efefe6;
}

body.page main.test_report .part_col > div:nth-child(4):before {
  background-color: #e5f3f9;
}

body.page main.test_report .question_number {
  background-color: #f7f7f7;
  height: 60px;
  width: 60px;
}

body.page main.test_report .question_number a {
  font-size: 22px;
  color: #5b5b5b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.page main.test_report .question_number {
  position: relative;
}

body.page main.test_report .question_number.part1 {
  background-color: #f4ece6;
}

body.page main.test_report .question_number.part2 {
  background-color: #e7e9f2;
}

body.page main.test_report .question_number.part3 {
  background-color: #efefe6;
}

body.page main.test_report .question_number.part4 {
  background-color: #e5f3f9;
}

body.page main.test_report .question_number.is-correct:before {
	content: '';
  position: absolute;
  width: 85%;
  height: 85%;
	background-image: url(../images/img_white_o-green.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	display: block;
  opacity: 0.4;
  pointer-events: none;
}

body.page main.test_report .question_number.is-incorrect:before {
	content: '';
  position: absolute;
  width: 85%;
  height: 85%;
	background-image: url(../images/img_white_x-red.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	display: block;
  opacity: 0.4;
  pointer-events: none;
}

body.page main.test_report .bottom-table {
  width: 100%;
  border: none;
  border-top: 1px solid #b3b3b3;
}

body.page main.test_report .bottom-table tr td {
  border-color: #b3b3b3 !important;
}

body.page main.test_report .bottom-table tr:not(:last-child) td {
  border-bottom: 1px solid #b3b3b3;
}

body.page main.test_report .bottom-table tr td:nth-child(2) div {
  text-align: left;
}

body.page main.test_report .bottom-table .tag-vocabs {
  gap: 4px;
}

body.page main.test_report .bottom-table .tag-vocab {
  background-color: #feefd6;
  border-radius: 100px;
  padding: 4px 12px;
  font-size: 14px;
  margin-right: 2px;
  color: #454545;
}

body.page main.test_report .bottom-table .subtitle {
  font-size: 18px;
  margin-bottom: 4px;
}

body.page main.test_report .bottom-table .tag-border {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #454545;
  margin: 4px 0;
}

body.page main.test_report .bottom-table ol {
  margin-bottom: 0;
}

body.page main.test_report .bottom-table ol li {
  list-style: auto;
}

@media (min-width: 992px) {
  body.page main.test_report .question_number_list {
    min-width: 320px;
  }
}
@media (min-width: 640px) {
  body.page main.test_report .bottom-table tr td:nth-child(1) {
    border-right: 1px solid #b3b3b3;
    background-color: #f8f8f8;
    font-weight: 500;
    max-width: 15%;
  }

  body.page main.test_report .bottom-table tr td:nth-child(2) {
    border-left: 1px solid #b3b3b3;
  }
}

@media (max-width: 1199.98px) {
  body.page main.test_report .correctness_container {
    display: block;
  }

  body.page main.test_report .correctness_container .correctness:not(:last-child) {
    margin-bottom: 30px;
  }

  body.page main.test_report .correctness_container .test_circle {
    margin-bottom: 8px;
  }
  body.page main.test_report .question_number_list {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 991.98px) {
  body.page main.test_report .question_number_list {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 767.98px) {
  body.page main.test_report .question_number_list {
    grid-template-columns: repeat(4, 1fr);
    width: 255px;
  }
}
@media (max-width: 639px) {
  body.page main.test_report .bottom-table {
    border-top: none;
  }

  body.page main.test_report .bottom-table tr:not(:last-child) td {
    border-bottom: none;
  }

  body.page main.test_report .bottom-table tr td {
    border-top: 1px solid #b3b3b3;
  }
}


@media (max-width: 575.98px) {
  body.page main.test_report .framebox_in.outer_container {
    padding: 15px;
  }

  body.page main.test_report .correctness_container .correctness {
    display: block;
  }

  body.page main.test_report .correctness_container .test_circle {
    margin-left: 0;
  }

  body.page main.test_report .part_col {
    margin-top: 15px;
  }

  body.page main.test_report .correctness_container .question_number_list {
    margin: 0 auto;
  }
}

@media (max-width: 455.98px) {
  body.page main.test_report .question_number_list {
    grid-template-columns: repeat(4, 1fr);
    width: 255px;
  }
}

.accordion-item {
  border: none;
  margin-bottom: 2px;
  background: none;
}
.accordion-header {
  position: relative;
  background: none;
}
.accordion-header:before {
  content: '';
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #f7b364;
  position: absolute;
  top: 11px;
  right: 5px;
}
.accordion-item .accordion-button {
  color: #454545 !important;
  background: unset;
  min-height: 40px;
  padding: 10px 0;
  box-shadow: none;
  border-color: unset;
  line-height: 1.5;
  padding-right: 25px;
}
.accordion-button::before,
.accordion-button::after {
  content: '';
  width: 12px;
  height: 2px;
  background: #f7b364 !important;
  position: absolute;
  right: 10px;
  top: 21px;
}
.accordion-button::after {
  transform: rotate(-90deg);
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-body {
  color: #454545;
  padding: 10px 0;
}