<footer class="footer" id="footer">
  <a href="#Z" id="AZ" title="下方功能區塊" accesskey="Z" name="Z" class="sr-only sr-only-focusable">:::</a>
  <div class="container small py-3">
    <div class="row footer-header">
      <ul class="list-inline mx-auto my-3 text-center">
        <li class="list-inline-item">
          <a href="https://www.pthg.gov.tw/cp.aspx?n=12BA767FD998D05E" title="連結至屏東縣政府-資安政策(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button" target="_blank">資安政策</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.pthg.gov.tw/cp.aspx?n=48DF0A537FFF0FAF" title="連結至屏東縣政府-隱私權保護(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button" target="_blank">隱私權保護</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.pthg.gov.tw/cp.aspx?n=F0BADD3C2111A890" title="連結至屏東縣政府-著作權聲明(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button" target="_blank">著作權聲明</a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.pthg.gov.tw/cp.aspx?n=71AA0F794E4D8D92" title="連結至屏東縣政府-資料開放宣告(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button" target="_blank">資料開放宣告</a>
        </li>
        <!-- <li class="list-inline-item"><a href="https://www.pthg.gov.tw/cp.aspx?n=A48305F5D2CA2C89"
          title="連結至縣府位置(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button"
          target="_blank">縣府位置</a></li>
          <li class="list-inline-item"><a href="https://www.pthg.gov.tw/cp.aspx?n=A48305F5D2CA2C89&s=C8BD20C67D3D4930"
          title="連結至火車轉乘客運至本府(另開新視窗)" class="btn btn-outline-light btn-sm border-0" role="button" target="_blank">
          火車轉乘客運至本府</a></li> -->
      </ul>
    </div>
    <div class="footer-main d-flex flex-lg-row flex-column flex-nowrap align-items-center justify-content-center">
      <div class="mx-auto mx-lg-0 py-0 pr-lg-4">
        <a href="https://www.pthg.gov.tw/" title="屏東縣政府(另開新視窗)" target="_blank"><img src="frontRef/img/logo-f.png" alt="屏東縣政府LOGO" class="img-fluid"></a>
      </div>
      <ul class="my-3 pl-3">
        <li><a href="https://www.pthg.gov.tw/" title="屏東縣政府(另開新視窗)" target="_blank">屏東縣政府</a>版權所有</li>
        <li>總機電話：(08)732-0415 </li>
        <li>
          地址：900219 屏東縣屏東市自由路527號
          <a class="btn btn-warning btn-sm py-0 px-1 mx-1" href="https://www.google.com/maps/search/900219%E5%B1%8F%E6%9D%B1%E7%B8%A3%E5%B1%8F%E6%9D%B1%E5%B8%82%E8%87%AA%E7%94%B1%E8%B7%AF527%E8%99%9F/22.6829699,120.485725,17z/data=!3m1!4b1" role="button" target="_blank" title="連結至google地圖(另開新視窗)"><i class="fas fa-map-marker-alt fa-fw"></i><span class="sr-only">google地圖</span></a>
        </li>
        <li>
          1999便民服務專線(付費專線)：縣境內直撥<a href="tel:1999">1999</a>，外縣市請撥<a href="tel:087320415">(08)732-0415</a>，服務時間每日08:00~22:00
        </li>
        <li>辦公時間：週一至週五 08:00~12:00 13:30~17:30, 彈性上下班時間：08:00-08:30 及 17:30-18:00</li>
        <li>本網站適用 Chrome 80、Safari 13、Firefox 75、Edge18 以上之版本， 1280 x 1024 解析度瀏覽，本網站不支援IE瀏覽器。</li>
        <li>Version:1.0.0.0&nbsp;220719.220057.22</li>
      </ul>
    </div>
  </div>
  <a href="#top" role="button" title="回頁首" class="btn-top text-center hvr-bob" style="">
  <i class="fal fa-arrow-up fa-lg"></i><span class="sr-only">回頁首</span>
  </a>
</footer>